.p-estreno {
    width: 100vw;
    height: 50vh;
}
.s-estreno {
    width: 100vw;
    height: 50vh;
}
.t-peliculas {
    width: 100vw;
    height: 50vh;
}
.t-series {
    width: 100vw;
    height: 50vh;
}