.p-estreno {
    background-color: teal;
    width: 100vw;
    height: 50vh;
}
.s-estreno {
    background-color: teal;
    width: 100vw;
    height: 50vh;
}
.t-peliculas {
    background-color: teal;
    width: 100vw;
    height: 50vh;
}
.t-series {
    background-color: teal;
    width: 100vw;
    height: 50vh;
}