@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Limelight&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300&display=swap');

.body-comming {
    background-image: url("../img/fondo/25100.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-comming {
    font-family: Cinzel;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    font-size: 30px;
}
.lanzamiento-img{  
    background: transparent; 
    margin: .5rem 0 1rem 0;
    padding-right: 1.5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.lanzamiento-img img {
    width: 65%;
    background-color: transparent;
    padding-left: 2rem;
}

/* Contador - Lanzamiento Section */

.contador {
    font-family: "Advent Pro";
    font-weight: 200;
    border-radius: 5px;
   width: 100%;
   padding: .5rem 0;
    margin: 0 auto;
    
    border: 1px dotted #E2C044;
    border-radius: 5px;
  
    
}
.contador .dias,
.contador .horas,
.contador .minutos,
.contador .segundos {
    background-color: #fff;
    text-align: center;
    border: 1px dotted #E2C044;
    margin: 0 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
}
.contador h2 {
    font-size: 4rem;
}
.contador span{
    font-size: 1.5rem;
}
.contador-div {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    width: 100%;
}

.fecha-lanzamiento {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    margin: 2.5rem 0 1rem 0;
}


/* Suscribirse Section */

.suscribirse {
    display: flex;
    flex-direction: row;
    width: 100%;
   background-color: rgba(255, 255, 255, 0.803);
   border-radius: 5px;
   padding: 0 1rem ;
   box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2),
   inset 2px 4px 0 0 rgba(255, 255, 255, .08);
}
.suscribirse-container {
    padding: 1.5rem;
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
    background-image: url("../img/padrao-floral-pastel/522.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2),
    inset 2px 4px 0 0 rgba(255, 255, 255, .08);
}
.suscribirse  p {
    padding: 0 1rem 0 0;
    text-align: center;
    width: 100%;
    font-size: 21px;
}
.suscribirse > form {
    width: 50%;
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.suscribirse > form > h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 1rem;
    width: 100%;
}
.suscribirse > form > input {
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    padding: .5em;
    width: 100%;
}
.suscribirse > form > button {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    border: .5px solid #000;
    padding: .5rem;
    cursor: pointer;
}
.suscribirse-left{
    width: 70%;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
}
.icon-bell {
    margin-right: .5rem;
    color: #E2C044;
    font-size: 1.2rem;
}
.dot-icon {
    font-size: 1rem;
    color: #E2C044;

}
.fecha-lanzamiento  {
    width: 100%;
}
.fecha-lanzamiento h3:last-of-type {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}
.fecha-lanzamiento h3:last-of-type i {
    margin: 0 .5rem;
}
@media all and (max-width: 768px) {

    /* Contador - Lanzamiento Section */

    .contador-div {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        width: 70%;
        gap: 15px;
        margin: 1rem auto;
        justify-content: center;
    }
    .contador .dias,
    .contador .horas,
    .contador .minutos,
    .contador .segundos {
        padding: 0;
        margin: 0;
}

    /* Suscribete Section */

    .suscribirse {
        flex-direction: column;
        align-items: center;
    }
    .suscribirse p {
        margin: 2rem 0;
    }
    .lanzamiento-img {
        display: none;
    }
    .suscribirse form {
        border: 1px solid #000;
        padding: 1rem;
        width: 70%;
        margin-bottom: 2rem;
    }
    .suscribirse > form > h3 {
        margin-bottom: 2rem;
    }
    .suscribirse > form {
        word-break: break-all;
    }
}