*{
    box-sizing: border-box;
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
video {
    max-width: 100%;
}
.main {
    width: 100%;
    margin: 8rem auto 0 auto;
    padding: 0 3rem ;
}
.informacion {
    margin: 1rem auto;
    padding: 0;
    max-width: calc(var(--max-width) - 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.info-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
}
.icon-info {
    margin-right: .5rem;
}
.main h1 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.img-container {
    width: 40%;
    min-width: 240px;
    min-height: 320px;
    margin: 0;
}
.img-ficha {
   width: 100%;
   height: 100%;
    display: inline-flex;
    float: left;;
}

.descripcion {
    border-collapse: collapse;
    font-size: 16px;
    margin: auto 1rem;
    width: 45%;
    height: 100%;
    color: #fff;
}
.desc-item th,
.desc-item td {
    border-bottom: 1px solid var(--color-border);
    padding: 1rem .5rem;
    text-align: center;
}

.lista-desc {
    list-style: none;
    padding:0 ;
    margin: 0;
    margin-left: 50px;
}
.lista-desc > li {
    padding: 8px;
}
/* Background */

.inverted {
    background-color:rgba(174, 174, 174, 0.242);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}
.relacionadas {
    color: #fff;
    flex: 1;
    padding: 1rem 0 3rem 0;
    margin: 0 auto;
    max-width: calc(var(--max-width) - 400px);
}
.grid-rel-container {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

/* Border bottom */

.sinopsis,
.trailer {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 2rem;
    max-width: calc(var(--max-width) - 400px);
    margin: 0 auto;
}
.sinopsis {
    color: #fff;
    word-spacing: .1rem;
}
.sinopsis h2 {
    margin: 2rem 0;
}
.sinopsis p {
    padding: 0 3rem;
}
.trailer {
    color: #fff;
    margin-top: 2rem;
}
.trailer > video {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



/* Pantallas pequeñas */
@media all and (max-width: 768px) {
    .main {
        max-width: 85%;
        padding: 0;
        margin-bottom: 0;
    }
    .main  h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .info-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .descripcion {
      min-width: 80%;
      display: flex;
      justify-content: center;
      margin: 0;
    }
    .img-container {
        margin: 1rem 0 2rem 0;
        width: 70%;
    }
    .desc-item th,
    .desc-item td {
        padding: .6rem;
    }
    .sinopsis {
        padding: 2rem 0 1rem 0;
    }
    .sinopsis p {
        margin: 2rem 0;
    }
    .trailer {
        margin-top: 2rem;
    }
    .trailer video {
        margin: 0;
        padding: 0;
    }
    .trailer h2 {
        margin: 0;
        padding: 0;
    }
    .relacionadas {
        padding: 2rem 0;
    }
}