.fav-label {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    mask: url("../img/heart-regular.svg") no-repeat center;
    -webkit-mask: url("../img/heart-regular.svg") no-repeat center;
    background-color: var(--color-red);
    box-shadow: 0 19px 30px rgba(29, 29, 29, 0.851), 
                0 15px 12px rgba(10, 10, 10, 0.872);
}
/* .fav-label::before {
    content: url("./heart-regular.svg");
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
} */
.fav-item {
    display: none;
}
.fav-checkbox {
    display:none;
}
.fav-checkbox:checked ~ .fav-label {
    background-color: var(--color-red);
    mask: url("../img/heart-solid.svg") no-repeat center;
    -webkit-mask: url("../img/heart-solid.svg") no-repeat center;
    display: block;
    box-shadow: 0 19px 30px rgba(29, 29, 29, 0.721), 
                0 15px 12px rgba(10, 10, 10, 0.728);
}
.fav-label {
    display: none;
}
.dest-poster:hover .fav-label{
    box-shadow: 0 19px 30px rgba(29, 29, 29, 0.934), 
                0 15px 12px rgba(10, 10, 10, 0.893);
    display: block;
}