.fav-label {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    mask: url("../img/heart-regular.svg") no-repeat center;
    -webkit-mask: url("../img/heart-regular.svg") no-repeat center;
    background-color: var(--color-red);
}
/* .fav-label::before {
    content: url("./heart-regular.svg");
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
} */
.fav-item {
    display: none;
}
#fav-checkbox {
    display:none;
}
#fav-checkbox:checked ~ .fav-label {
    background-color: var(--color-red);
    mask: url("../img/heart-solid.svg") no-repeat center;
    -webkit-mask: url("../img/heart-solid.svg") no-repeat center;
    display: block;
}
.fav-label {
    display: none;
}
.dest-poster:hover .fav-label{
    display: block;
}