:root {
    --dark-color: rgb(43, 42, 42);
    --color-red: rgb(221, 42, 42);
}
*, *::before, *::after{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark-color);
    background-image: url('../img/20215.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
img {
    max-width: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form {
    min-width: 67%;
    box-shadow: 0 19px 30px rgba(29, 29, 29, 0.3), 
                0 15px 12px rgba(10, 10, 10, 0.22);
    display: flex;
    flex-direction: column;
    background-color: #2b2a2a;
    padding: 2rem 3rem;
    color: white;
    border-radius: 10px;
    box-shadow: 1;
}
.form input {
    font-size: 20px;
    margin-top: .5rem;
    margin-bottom: 2rem;
    background: none;
    color: #fff;
    padding: .3rem;
    border: none;
    border-bottom: .5px solid #fff;
}

.form label {
    font-size: 20px;
}
.form button {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.577);
    cursor: pointer;
    min-width: 40%;
    margin: 1.5rem auto;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: var(--color-red);
    
}
.form button:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.44);
}
.form button  a {
    text-decoration: none;
    color: white;
}
.form img {
    width: 100px;
    height: 80px;
    margin: 0 auto;
}
.form h1 {
    margin: 1rem 0 2rem 0;
    text-align: center;
    text-shadow:  5px 10px 15px rgba(0, 0, 0, 0.749);
}
.form > a {
    text-align: center;
    color: white;
    font-size: 20px;
}
.login-button .login-span::after {
    content: "\00bb";
 
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.login-button:hover .login-span::after {
    margin-left: 1rem;
    opacity: 1;
}
/* Pantallas grandes */

@media all and (min-width: 768px) {
    .form {
        max-width: 500px;
        min-width: 500px;
    }
    
    
    
}
