@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --navbar-height: 60px;
    --color-red: rgb(221, 42, 42);
    --color-dark: rgb(43, 42, 42);
    --color-border: rgb(67, 66, 66);
    --max-width: 1300px;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #2b2a2a;
}
.logo {
    width: calc( 2.5px * var(--navbar-height));
    height: var(--navbar-height);
    margin: 0 auto;
}

.navbar {
    z-index: 1;
    background-color: rgb(43, 42, 42);
    width: 100vw;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding: 0 2.5rem 0 1rem;
}
.navbar .burger-label {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 45px;
    background-color: rgba(245, 24, 69, 0.719);
    border-radius: 50%;
    margin: 6px 0 0 7px;
  }
  .burger-label:before {
    content: '';
    background-color: rgb(43, 42, 42);
    width: .7em;
    height: 0.10em;
    position: absolute;
    left: 0.20em;
    top: 0.25em;
    box-shadow: 0 0.25em 0 0 rgb(43, 42, 42), 0 0.5em 0 0 rgb(43, 42, 42);
  }

/* Navbar Cerrado */

.navbar-list {
    display: none;
}
.navbar #burger-checkbox,
.navbar input[type="text"],
.navbar ul:last-of-type {
    display: none;
}


@media all and (min-width: 768px) {
    .navbar-list {
        display: flex;
        width: 40%;
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-end;
        list-style: none;
    }
    .navbar-item a {
        text-decoration: none;
        color: #fff;
        line-height: var(--navbar-height);
        padding: 0 .7rem;
    }
    .navbar-item a:hover {
        color: #000;
    }
    .navbar-item {
        height: var(--navbar-height);
    }
    .navbar-item:hover{
        background-color: white;
        color: #222222;
    }
    .navbar .burger-label {
        display: none;
    }
    .navbar {
        justify-content: space-between;
    }
    .logo {
        margin: 0;
    }
    .navbar input[type="text"],
    .navbar ul:last-of-type {
        display: block;
    }
    .navbar input[type="text"]{
        height: 50%;
        width: 15%;
        margin: auto 1.5rem;
        background-color: rgb(228, 226, 226);
        padding: 0 5px;
        font-size: .8rem;
        color: #fff;
        background: none;
        border: none;
        border-bottom: 1.3px solid rgb(233, 232, 232);
       

    }
    .navbar ul:last-of-type {
        line-height: var(--navbar-height);
        list-style: none;
        padding: 0;
        
    }
    .navbar ul:last-of-type li {
       display: flex;
       align-items: center; 
    }
    .navbar ul:last-of-type > li > a{
        padding-right: .5rem;
        border-radius: 5px;
        text-decoration: none;
        color: red;
    }
    .icon-exit {
        color: red;
    }
}